aiohttp~=3.11.11
alembic~=1.14.1
coverage~=7.6.10
cryptography~=44.0.0
faker~=35.2.0
fastapi~=0.115.8
httpx~=0.28.1
orjson~=3.10.15
psycopg[binary]~=3.2.4
pydantic-settings[yaml]~=2.7.1
pydantic~=2.10.6
pyjwt~=2.10.1
pylint~=3.3.4
pynacl~=1.5.0
pytest-asyncio~=0.25.3
pytest-freezegun~=0.4.2
pytest~=8.3.4
pytz~=2025.1
redis~=5.2.1
setuptools~=75.8.0
sqids~=0.5.1
sqlalchemy~=2.0.37
sqlmodel~=0.0.22
uuid6~=2024.7.10
uvicorn~=0.34.0